body {
    padding-top: 50px;
   }
   
   .overflow {
     position:absolute;
     top:0;
     left:0;
     display: block;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
     margin-top: 0;
     color:#ccc;
     max-width:90%;
   }
   
     .overflow p {color:#ccc;line-height:50px;padding:0 10px;margin:0;display:inline;}
   